body {
    background-image: url("../imagens/planodefundo.png");
}
h1 {
    color: aliceblue;
    font-family: 'Teko', sans-serif;
    font-size: 56px;
}
.centralizador {
    text-align: center;
}
.centralizador-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.videos{
    display: none;
}
#back-button{
    display: none;
}
