body {
    background-image: url("../imagens/planodefundo.png");
}
h1 {
    color: aliceblue;
    font-family: 'Teko', sans-serif;
    font-size: 56px;
}
.centralizador {
    text-align: center;
}
.centralizador-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.videos{
    display: none;
}
#back-button{
    display: none;
    width: auto;
}
section{
    height: 100vh;
}
.ladodireito{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-end;
    }
.footerstyle{
    background-color: white;
    font-family: 'Teko', sans-serif;
   width: 176px;
   
}
footer{
    display: block;
}